<div class="row">
  <div class="col-md-4 offset-3 mb-5">
    <form action="/todos" method="POST">
      <div class="form-row align-items-center form-inline">
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <button type="submit" class="btn">+</button>
              </div>
            </div>
            <input type="text" name="name" class="form-control" id="inlineFormInputGroup" placeholder="Add Todo">
          </div>
        </div>
      </div>
  </form>
</div>